@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
.cFix:after{
  display: block;
  content: "";
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
body {
  background: url(../images/bg-body.jpg) repeat;
}

#wrapper {
  width: 100%;
  background: url(../images/bg-pattern.jpg) repeat-x center top;
}
/* header-logo */
.logo {
  padding: 25px 0;
}
/* menu-bar */
.menu {
  margin-bottom: 20px;
}
.menu ul li {
  width: 120.8px;
  float: left;
  text-align: center;
  background: #439A8F;
  border: 1px solid #61B1A6;
}
.menu ul li a {
  display: block;
  padding: 15px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.menu ul li a:hover {
  background: #D5D0B0;
  color: #6d6157;
}

.menu ul li a.menu-active,
.menu ul li a.menu-active:hover {
  background: #6d6157;
  color: #e4e1bd;
}
/* banner */
.banner {
  margin-bottom: 35px;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.banner img {
  width: 100%;
}
/* content  */
.content h2 {
  color: #316e66;
  font-size: 26px;
}
.content p {
  color: #5a4535;
  font-size: 15px;
  text-align: justify;
  line-height: 2;
}
.content p a {
  color: #5a4535;
}
/* footer */
.footer {
  background: #AC9E94;
  padding: 10px 0 0 0;
  margin-bottom: 20px;
}
.footer .ft-menu {
  width: 600px;
  float: left;
}
.ft-menu ul li {
  float: left;
  text-align: center;
  padding: 0 10px;
  font-family: "Arial";
}
.ft-menu ul li a {
  text-decoration: none;
  color: #6d6157;
  font-size: 16px;
  text-transform: uppercase;
}
.ft-menu ul li a:hover {
  color: #eee7c3;
}
.ft-menu ul li a.ft-menu-active,
.ft-menu ul li a.ft-menu-active:hover {
  color: #fff;
}

.footer .ft-contact {
  float: right;
}
.ft-contact ul li {
  float: left;
  margin-right: 10px;
}
.wrapper-inr {
  width: 860px;
  margin: 0 auto;
}
/* ------common------- */
.copy-txt {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
.beach-body {
  margin-bottom: 30px;
}
.beach-inr {
  padding: 39px 50px;
  background: #fff;
}
.beach-inr h1,.room-box .room-right h2 {
  color: #316e66;
  font-size: 30px;
}
.room-box .room-left {
  float: left;
  width: 340px;
  margin-right: 25px;
}
.room-box .room-right h2 {
  font-size: 22px;
}
.room-box li {
  border-bottom: 1px solid #884535;
  padding: 32px 0;
}
.room-box li:last-child {
  border-bottom: none;
  padding: 32px 0 0 0;
}
.room-box .room-left {
  float: left;
  width: 340px;
  margin-right: 20px;
}
.room-box .room-left img {
  border: 1px solid #2c9688;
}
.room .room-box .room-right {
  float: right;
}
.room-box .room-right {
  float: left;
  width: 340px;
  text-align: justify;
  font-size: 15px;
}
.room-box h2 {
  text-align: left;
  margin-bottom: 23px;
}
.room-box p {
  position: relative;
}
.room-box p,.room-box a {
  color: #884535;
  line-height: 1.7;
  padding: 0 0 24px 0;
}
.dive .room-box .last {
  padding: 0;
}
.room .room-box p {
  padding: 0 0 51px 0;
}
.room-box .room-right .rate {
  display: inline-block;
  width: 140px;
  border: 1px solid #884535;
  text-align: center;
  position: absolute;
  color: #2c9688;
  padding: 10px 0;
}
/*------- start of kppw01------ */

.sec01 {
  border-bottom: 1px solid #bbb;
}

.sec01 h1 {
  font-size: 30px;
  color: #316e66;
  margin-bottom: 18px;
}

.sec01 h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}
.sec01 p,
.sec02 p {
  font-size: 15px;
  color: #5a4535;
  padding-bottom: 25px;
  line-height: 30px;
}
.sec01 p>a,
.sec02 p>a {
  color: #5a4535;
}

.sec02 {
  padding-top: 30px;
}

.sec02 h2 {
  font-size: 22px;
  padding-bottom: 30px;
}

.sec02-left {
  width: 440px;
  float: left;
  border-right: 1px solid #bbb;
  padding-right: 29px;
}

.sec02-right {
  float: left;
  width: 270px;
  padding-left: 20px;
}
.ctn-blog {
  margin-top: 20px;
}
.ctn-blog .blog-left {
  float: left;
  width: 560px;
}
.blog-left .blog-box {
  background: #fff;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
}
.col-green {
  color: #2c9688;
}
.blog-box h3 {
  padding-bottom: 10px;
  border-bottom: 1px dotted #000;
}
.blog-box p span {
  float: right;
}
.blog-box .sub-box {  
  border-bottom: 1px dotted #000;
}
.sub-box a {  
  text-decoration: none;
  color: #5a4535;
  font-size: 22px;
  display: block;
}
.sub-box span {
  font-size: 14px;
}

.ctn-blog .blog-img {
  float: right;
}

/* start of foods */

.sec01-food h1 {
  margin-bottom: 20px;
}

.foods li {
  padding-bottom: 20px;
}

.foods h2 {
  font-size: 22px;
  color: #316e66;
  padding: 20px 0 30px 0;
}

.foods a img:hover {
  color: #fff;
  opacity: .4;
}

 .foods .bdtop {
  border-top: 1px solid #b7b7b7;
 }


/* for contact */
.beach-body .contact-left {
  float: left;
  width: 300px;
}
.contact-left h2 {
  margin-bottom: 10px;
  font-size: 22px;
}
.contact-left ul li {
  margin-bottom: 20px;
}
.contact-left ul li p {
  font-size: 16px;
}
.contact-left ul li span {
  font-size: 12px;
}
.beach-body .contact-right {
  float: left;
  width: 460px;
}